html {
  background-color: black;
  padding: 0px;
  margin: 0px;
}
.blue {
  color: rgb(39, 170, 222);
}

.wave {
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 2.1s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}

.home-about-section {
  position: relative;
  padding-bottom: 70px !important;
  padding-top: 70px !important;
}

.home-about-description {
  color: white !important;
  padding-top: 100px !important;
  padding-bottom: 20px !important;
  text-align: center;
}

.home-about-body {
  font-size: 1.2rem;
  text-align: left;
}

.home-about-social {
  text-align: center !important;
  padding-top: 25px;
  color: white !important;
}

.home-about-social-links {
  justify-content: center !important;
  display: flex;
}

.home-social-icons {
  width: 40px !important;
  height: 40px !important;
  text-align: center !important;
  font-size: 1.2em !important;
  line-height: 2em !important;
  background: rgba(255, 255, 255, 0.972) !important;
  border-radius: 50% !important;
}

.social-icons {
  padding: 15px;
}

.icon-colour {
  color: rgb(39, 170, 222);
}
.about-section {
  padding-top: 10vh;
  padding-bottom: 30px !important;
  color: white !important;
}

.tech-icons {
  background-color: black;
  width: 25%; /* fixed width */
  height: 25vh;
  gap: 2rem; /* fixed height */
  display: flex;
  border: 1px solid rgb(0, 115, 255);
  justify-content: center; /* center icon horizontally */
  align-items: center; /* center icon vertically */
  border-radius: 10px;
  font-size: 4rem; /* icon size */
  cursor: pointer;
  transition: all 0.4s ease 0s !important;
}
.sss{
  height:70vh;
}
.tech-box {
  display: flex;
  justify-content: center; /* center icons horizontally */
  gap: 20px; /* space between icons */
  margin-bottom: 30px; /* space between each row */
}
@media (max-width: 767px) {
  .tech-icons {
    margin: 10px !important;
  }
}

.tech-icons:hover {
  transform: scale(1.05) !important;
  overflow: hidden !important;
  border: 2.2px solid rgb(39, 170, 222) !important;
}
.tech-icon-images {
  padding: 20px !important;
  line-height: 1.6 !important;
}

.quote-card-view {
  border: none !important;
  color: white !important;
  background-color: transparent !important;
}

@media (max-width: 767px) {
  .about-img {
    padding-top: 0 !important;
  }
}
.project-section {
  position: relative !important;
  padding-top: 150px !important;
  padding-bottom: 30px !important;
  background-image: var(--section-background-color) !important;
}

.project-card {
  padding-top: 50px !important;
  padding-bottom: 50px !important;
  padding-left: 25px !important;
  padding-right: 25px !important;
  height: auto !important;
}

.project-card-view {
  box-shadow: 0 4px 5px 3px rgba(53, 118, 136, 0.459) !important;
  color: white !important;
  background-color: transparent !important;
  opacity: 0.9 !important;
  transition: all 0.5s ease 0s !important;
  height: 75vh;
  width: 25vw;
}
.project-card-view:hover {
  transform: scale(1.02) !important;
  overflow: hidden !important;
  box-shadow: 0 4px 4px 5px rgba(0, 229, 255, 0.561) !important;
}

.blog-card {
  padding-top: 50px !important;
  padding-bottom: 50px !important;
  padding-left: 25px !important;
  padding-right: 25px !important;
  height: auto !important;
}

.blog-card-view {
  background-color: transparent !important;
  box-shadow: 0 3px 3px 2px rgba(0, 132, 255, 0.459) !important;
  color: white !important;
  transition: all 0.5s ease 0s !important;
  height: 100% !important;
}

.blog-link {
  color: white !important;
  text-decoration: none !important;
}

.blog-link:hover {
  cursor: pointer !important;
}

.blog-card-view:hover {
  transform: scale(1.02) !important;
  overflow: hidden !important;
  box-shadow: 0 3px 3px 5px rgba(1, 141, 255, 0.65) !important;
}

.card-img-top {
  padding: 20px !important;
  opacity: 0.8 !important;
  border-radius: 10px !important;
}

.blog-img {
  padding: 0px !important;
  opacity: 0.8 !important;
  border-radius: 0px !important;
}

.btn-primary {
  color: #fff !important;
  background-color: rgb(14, 175, 250) !important;
  border-color: rgb(14, 175, 250) !important;
}

.btn-primary:hover {
  color: #fff !important;
  background-color: rgb(39, 170, 222) !important;
  border-color: rgb(39, 170, 222) !important;
}
.btn:focus {
  outline: none !important;
  box-shadow: none !important;
}
.project-heading {
  color: white !important;
  font-size: 2.3em !important;
  font-weight: 500 !important;
  padding-top: 10px !important;
}
.carddiv {
  height: 75vh;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding-top: 3rem;
  background-color: black;
}

.rx {
  font-size: 2.5rem;
  padding-left: 8rem;
}
.rrr {
  height: 60vh;
}
.hh {
  font-size: 2.5rem;
}
.gih {
  height: 60vh;
  width: 20vw;
}
.ii {
  display: flex;
  justify-content: center;
}
.iii {
  width: 40%;
  font-size: 1.2rem;
  padding-left: 0rem;
}
.ix {
  width: 40%;
  height: 60vh;
  margin-left: 0rem;
}
.st {
  font-size: 2rem;
  width: 40%;
  text-align: center;
  margin-left: 5rem;
  padding-bottom: 2rem;
}
.cardimg{
  height:35vh;
  width:25vw;
}
@media (max-width: 750px) {
  .rx {
    font-size: 1rem;
    padding-left: 3rem;
  }
  .rrr {
    width: 50vw;
    height: 30vh;
  }
  .hh {
    font-size: 1.2rem;
  }
  .home-about-body {
    font-size: 0.7rem;
  }
  .gih {
    margin-top: 60px;
    height: 30vh;
    width: 35vw;
  }
  .ii {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .iii {
    width: 100%;
    font-size: 1rem;
    padding-left: 2rem;
  }
  .ix {
    width: 60vw;
    height: 50vh;
    margin-left: 3rem;
  }
  .st {
    font-size: 1.2rem;
    margin-top: 1rem;
  }
  .carddiv{
    flex-direction: column;
    height:90%;
    padding-top: 0rem;
    align-items: center;
    gap:3rem;
  }
  .project-card-view{
width:90%;
height:65vh;
  }
  .cardimg{
    width:100%;
  }
  .sss{
    height: 50vh;
  }
}
